body {
    font-size: 18px;
    font-family: helvetica;
    margin: 0;
}
.container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    height: 64px;
    width: 100%;
}
.logo img {
    padding-left: 24px;
    padding-top: 0;
    padding-right: 5px;
    align-items: center;
}
.name {
    height: 32px;
    display: inline-flex;
    font-size: 30px;
    color: #605F5F;
    margin: auto 0;
}
strong{ color:#2F2E3E;}
nav {
    display: flex;
}
nav span {
    text-align: right;
    padding: 0 8px;
    font-size: 18px
}
.nav {
    text-align: right;
    padding-right: 24px;

}
.nav a{
    display: inline-flex;
   
}
/* Main Banner*/

.banner1 {
    display: flex;
    background-color: lightgray;

}
.banner1 .img-side{
    width: 60%;
    text-align: left;
     padding: 32px 24px;
}
.banner1 img {
    width: 100%;
    height: 100%;
}
.content-side{
    width: 40%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}
.banner1-content {
    text-align: left;
    padding-right: 9%;
    padding-bottom: 2%;
   
}
.banner1-content h1{
   
}
button {
    background-color: #4F4E4E;
    color: white;
    padding: 8px ;
    width:100%;
    text-align: center;
}
.banner2 {
    display:flex;
   }
.left-side {
    width: 60%;
    text-align: left;
}
.left-side img {
    width: 94%;
    padding: 32px 24px;
}
.info-content {
    padding:  0 24px 32px 24px;
}
.right-side {
    width: 40%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.right-content {
    width: 40%;
    margin: auto 0;
    padding-bottom: 16px;
}
.right-content h3{
    padding: 8px 0;
}
.box {
    display: flex;
    text-align: left;
    height: auto;
    border: 1px solid lightgrey;
    margin-bottom: 1px;
}
.box img {
    width: 35%;
    height: 35%;
    padding:16px;
    float: left;
}
.guest {
    display: flex;
    text-align: left;
    height:auto;
    background-color: lightgray;
    border: 1px solid lightgrey;
    margin-bottom: 1px;
}
.guest img {
    width: 35%;
    height: 35%;
    padding: 16px;
    float: left;
}
a{
    text-decoration: none;
    color: darkblue;
}

/*Learning content*/

.learning{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    background-color: lightgray;
    padding: 32px 56px;
}
.title{
    background-color: lightgrey;
    padding-top: 32px;
    margin: 0;
    text-align: center;
}
.courses{
    margin: 16px;
    width: 30%;
    height: auto;
    text-align: left;
    background-color: white;
   
}
.courses img{
    width: 100%;
}
.info-box{
    padding: 0px 16px 24px 16px;
    width: auto;
}

/* thesis content */

.thesis-box{
    display:flex;
    text-align: left;
}
.thesis-title{
    padding: 32px 0;
    margin: 0;
    text-align: center;
}
.video-side{
    width: 60%;
    text-align: left;
}
.video-side video{
    width: 94%;
    padding: 32px 24px;
}
.thesis-right{
    width: 40%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 24px;
}
.fisma{
    display: flex;
    text-align: left;
    height: auto;
    background-color: lightgray;
    margin-bottom: 1px;
}
.fisma img{
    width: auto;
    height: 35%;
    padding: 16px;
    float: left;
}
.thesis-content{
    margin: auto 0;
    padding-bottom: 16px;
}
.now-then{
     display: flex;
    text-align: left;
    height: auto;
    margin-bottom: 1px;
}
.now-then img{
    width: auto;
    height: 35%;
    padding: 16px;
    float: left;
}

/*Footer*/

footer{
    width:100%;
    height: 64px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info{
    padding: 16px 24px;
}

.footer-nav span{
    font-size: .75em;
    padding: 8px;
}

/* Mobile */
@media only screen and (min-width:480px){
    .nav a{ display:none}
}
@media only screen and (max-width:470px) {
    
    .name1 {display:none}
    .nav span {display:none}
    .nav a {  }
    nav img{ height:auto; width:auto;}
    /*banner1*/
    .banner1{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: auto;
    height:auto;}
    .banner1 .img-side{
        width: auto;
        padding: 0;
    }
    .banner1 img{
        width: 100%;
        padding:0;
        margin:0;  }
    .content-side{ width:auto; 
        padding: 0 16px;
        }
    .banner1-content{
        width:auto;
        height:auto;
        padding: 0 0 34px 0;
    }
    .button{padding: 8px auto;}
    /*banner2*/
    .banner2 {
        display:flex; 
        flex-direction: column;}
    .banner2 .left-side{display:none;}
    .right-side{ width:auto;}
    .right-side img{ 
        width:auto;
        padding: 16px;}
    .right-content{
        width: auto;
        padding:0 16px;
        }
    .box{display:flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 64px;}
    .guest{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-bottom: 32px;}
    /*learning section*/
    .title{
        text-align: center;
        background-color:white;
        padding-top:32px;
        padding-bottom: 8px;}
    .learning{
        background-color: white;
        flex-direction: column;
        padding: 0 16px 24px 16px; 
        }
    .courses{ 
        background-color: lightgray;
        width:auto; 
        margin: 8px 0;
       }
    .courses h3{ padding-left:16px;}
    .courses img{display:none;}
    .info-box{ padding:0;}
    .info-box p {display:none;}
     /*Thesis section*/
    .thesis-title{ 
        padding-bottom: 16px;
        text-align: center;}
    .thesis-right{display:none;}
    .info-content{ display: none;}
    .video-side{ 
        width: auto; 
        padding: 0;
        text-align: center;
        margin :0;}
    .video-side video{ 
        width:100%;
        padding: 0;
        margin-bottom: 24px;}
    .footer-info{ font-size: 0.6em;}
    .footer-nav{display:none;}
}